<!doctype html>
<html lang="en">
    
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Components | SEVEN Empathy Case Study</title>
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cdfad708dc.js" crossorigin="anonymous"></script>
  </head>
  
  <body>  
    <h1>Web Design System</h1> 
    <p>This is a collection of components based on my study of the design system of the <a href=https://www.sevenempathy.com>SEVEN Empathy</a> website.</p>
    
    
  </body>
</html>
