<!doctype html>
<html lang="en">
    
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Components | SEVEN Empathy Case Study</title>
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cdfad708dc.js" crossorigin="anonymous"></script>
  </head>
  
  <body>  
    <main>
      <h1>Web Design System</h1> 
      <p>
          This is a collection of components based on my study of the design system of the 
          <a>href=https://www.sevenempathy.com>SEVEN Empathy</a> website.
      </p>

      <section>
          <h2>Typography</h2>

          <article>
              <h3>body</h3>
              <div>
              <img src="img/page-section__body-text-1.png" alt="Body Text">
              </div>
              <div>
                  <p>
                      Today marks the first day of my journey of becoming an instructor for Mental Health First
                      Aid instructor for Youth (Adults coming soon!) I wish there was a way for you to feel how
                      I've felt for the past week knowing this is coming up.
                  </p>
              </div>
          </article>

          <article>
              <h3>h2, h3, h4</h3>
              <div>
                  <img src="img/hero-section__heading.png" alt="h2 and h3">
                  <img src="img/footer-nav-header__title.png" alt="h4">
              </div>
              <div>
                  <h2>Creating Space for Mental Health in Schools</h2>
                  <h3>for Youth & Adults</h3>
                  <h4>SEVEN Empathy CLE</h4>
              </div>
          </article>

          <article>
              <h3>links</h3>
              <div>
                  <img src="img/footer-nav-links.png" alt="footer links">
                  <img src="img/header-nav-list-home.png" alt="header link example">
              </div>
              <div>
                  <a href="#!">Footer Link</a>
                  <a href="#!">Header Link</a>
              </div>
          </article>
      </section>
    </main>
    
  </body>
</html>
