<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Components Library | SEVEN Empathy Case Study</title>
        <link href="../css/normalize.css" rel="stylesheet" />
        <link href="../css/index.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet"/>
    </head>
    
<body>
    <h2 class="section-heading">Page Header</h2>
    <header class="page-header">
        <div class="logo">
            <a href="#"><img src="img/logo.png" alt="SEVEN Empathy Logo"></a>
        </div>
        <nav class="header-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Share</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Stories</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </nav>
        <div class="header-button">
            <a href="#" class="btn">Book</a>
        </div>
    </header>

    <h2 class="section-heading">Cover Section</h2>
    <section class="cover-section">
        <h1>Create Space for Mental Health in Schools</h1>
        <p>for Youth & Adults</p>
        <a href="#" class="btn cover-btn">Learn More</a>
    </section>

    <h2 class="section-heading">News & Updates</h2>
    <section class="news-updates">
        <h2>News & Updates</h2>
        <div class="news-item">
            <img src="img/page-section__img-1.png" alt="Coffee and Zoom">
            <div class="news-content">
                <h3>YMHFA Certification Unlocked!</h3>
                <p>Interested in becoming certified in Youth Mental Health First Aid? Please read for more information and how to sign up.</p>
                <a href="#" class="btn">Read More</a>
                <span class="date">Feb 10, 2023</span>
            </div>
        </div>
    </section>

    <h2 class="section-heading">Our Partners</h2>
    <section class="partners-section">
        <h2>Thank You to Our Community Partners</h2>
        <div class="partners-carousel">
            <img src="img/community-partners__logo-1.png" alt="Partner Logo">
            <img src="img/community-partners__logo-2.png" alt="Partner Logo">
            <img src="img/community-partners__logo-3.png" alt="Partner Logo">
            <img src="img/community-partners__logo-4.png" alt="Partner Logo">
            <img src="img/community-partners__logo-5.png" alt="Partner Logo">
        </div>
    </section>

    <h2 class="section-heading">Footer</h2>
    <footer class="site-footer">
        <p>Dedicated to Liam & Victor</p>
        <nav>
            <ul>
                <li><h3>SEVEN Empathy CLE</h3></li>
                <li><a href="#">About SEVEN</a></li>
                <li><a href="#">Reach Out</a></li>
                <li><a href="#">Share Your Story</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
