*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  max-width: 600px;
  line-height: 1.6;
  font-size: 18px; 
  color: #000000
  font-family: 'Georgia', serif;
  margin: 20px auto;
  text-align: center;
}

.heading-section h2 {
  font-size: 36px;
  margin: 0;
}

.heading-section h3 {
  font-size: 24px;
  font-style: italic; 
  margin: 10px 0 0;
}

.heading-section h4 {
  font-size: 36px
  margin: 0;
  padding: 10px;
}
